body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

h2 {
  background: #e0c9c9;
  border: 1px solid #d1bebe;
  padding: 20px;
  margin: 0px;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}